@model TreaterModel

@{
    ViewData["Title"] = "Home Page";
}

<body>
    <form method="post" asp-action="Create" asp-controller="Home">
        <div class="row">
            <div class="form-group col-sm-4">
                <label asp-for="TreaterName" class="control-label"></label>
                <input asp-for="TreaterName" class="form-control" />
                <span asp-validation-for="TreaterName" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-4">
                <label asp-for="CandyID" class="control-label"></label>
                <select asp-for="CandyID" asp-items="@(new SelectList(Model.CandyList, "id", "productName"))" class="form-control"></select>
                <span asp-validation-for="CandyID" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-4">
                <label asp-for="CostumeID" class="control-label"></label>
                <select asp-for="CostumeID" asp-items="@(new SelectList(Model.CostumeList, "id", "costume"))" class="form-control"></select>
                <span asp-validation-for="CostumeID" class="text-danger"></span>
            </div>
        </div>
        <button type="submit" class="btn btn-default" value="Model">Create</button>
    </form>
    <br />
    <div>
        <h2>Current Treaters</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Favorite Candy</th>
                    <th scope="col">Costume</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var treater in Model.TreaterList)
                {
                    <tr>
                        <td>
                            @treater.name
                        </td>
                        <td>
                            @treater.favoriteCandy.productName
                        </td>
                        <td>
                            @treater.costume.costume
                        </td>
                        <td>
                            @*<form method="post" asp-action="Delete" asp-controller="Home">
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="id" value="@treater.id" />
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>*@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</body>
